language: java
jdk: openjdk11
os: linux
dist: xenial
cache:
  timeout: 180
  directories:
  - "$HOME/.m2/repository"
install:
- ./scripts/install.sh
script:
- ./scripts/build.sh
before_cache:
- rm -rf $HOME/.m2/repository/org/opencds/cqf/tooling
notifications:
  slack:
    - rooms:
      - secure: cHXhQxhoFefdtRDCNTl5dWvoFamLTw3K/NodTqDHK16fGwU50AaESt+UW8/rUMTpOYpnh8Ju9Aa6EqD3W1VcuTvyIsYtYc5VaIo5f8vVdx8ABawe/GDoGEMcxfuRlkzvQXUwlOG17QG4wDC9OJp5sO9FqcgYX41zBHMx0qugZtHMix2d6iWpycgz6I5dwFqK8nItSEIn0+eaG0oSKXIl/3pHx16YaShVP79na6Q+GE0BsTE0WbDU2JVrVikrJO1h4vHHzV65TdpI5xnFFBkZWdBdpsAuvaMXr5ZIOrh2rxeESElC+WSHeYlaJeVD0exvR6yUYS48XtkjKxJtvLVEbpWxnOKNTyB/+90DVu5PETAB8TAm1YUVvPf6rPRHD2M3d/96KZBjyCYPAt9fe/FzwDnm9ZCXRjPCwaBhV1TX9xjG7lvNX5YT7tsUhk0bghZIAhpWeghuZ+5Xuci8VggmE5yI+GWqEYKCD6s51RZckJYmpe4J+UXUamuULnz3eD6xc/iEMdai1bAKyLP1e/y+2afbov8ZXoNBiu3ruVcIsVmGawle5/nBOyryBAJhRxF8QlgF/28YU+NcW28Ei8rxBRuWYozC5UFt03hdmeqQq2wHdZhoupNr7FkIhFB0BuKCnYHQF/aGW40QrLHboRT4dzc3ceMHQC3ZT9TIViSwTdw=
      on_success: always
      on_failure: never
    - rooms:
      - secure: Je5Dy2QMy+Ag44O8hbWgKfAiXovKZEpV3ewGtRXwOyY00H+Q69z1UAOd9uYl6z0xehVTVfs8sH8xm4xdIqQtJxsPcMZ0JhMLq68AA2MYTzSwcwB5kkbnhVU6WMoAg27jzAmlL6SF2LkiPZEB69MYF+EGXaZZqTvMi/IbOvxMbhAOjsbsyLIFr4BWabwSw8/j3P8n5dAyyNXCnJ2iXrq0Q0IWfUW9vRT+d9R+ek8TQOUYHb9eiX0G0DGJDbK4hMhWppoZi2cRDE/wOwlhbS1ta7/Yw2r2wa4UPqfWMCK/n/yj59LRUzntBfSSYy8DRR9aIJYF27k9U6t8kXfI3OVpksyj1JF/98jj8BMUYqBortvP4nzbRS8lh6f7E82Ii4mdAQuJLRcsYIdKw5LMn4R+8pWiNP9n4EJFmpu2yv7/8RZofm6vvEZMC8+6YAPp1fQQqODBGENaQhfziV1JFbgRNUnGfoUyje057/Nm6fBUQA1sAKSoOhwQFq88jvJ7ny9vU25SUodE3ZZAMeSh9RNf5EXmx8zYi0q8BOWfqbKU6TdprpWBrtez1EFM+T3gUltVVRaT/h+3VpJb5OvayCnqZxttpzo5qxGP8K7YN/kSM9TeyDvfClPc4E03xDklzAmPQAPxPznBPg+A5epF1Z2UN0GsRNNjHjHilalGoqJBKHI=
      on_success: never
      on_failure: always